$bootstrap-icons-font-src: url("/fonts/bootstrap-icons.woff2") format("woff2"),
						   url("/fonts/bootstrap-icons.woff") format("woff") !default;

@import "../../node_modules/bootstrap-icons/font/bootstrap-icons";
